@using Microsoft.AspNetCore.Identity

@model IdentityRole

<div >
    Me falta saber como mostrar rolename
 @* implementar Delete *@
  @* @Html.DisplayFor(Role.RoleName); *@
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>